CGT_NesEmulator/CGT NES Emulator/Debug/RCa20324
CGT_NesEmulator/CGT NES Emulator/Debug/RCa17912
CGT_NesEmulator/CGT NES Emulator/Debug/RCa00936
CGT_NesEmulator/CGT NES Emulator/Debug/CGT NES Emulator.vcxproj.FileListAbsolute.txt
CGT_NesEmulator/.vs/CGT_NesEmulator/v16/Browse.VC.opendb
CGT_NesEmulator/.vs/CGT_NesEmulator/v16/Browse.VC.db-wal
CGT_NesEmulator/.vs/CGT_NesEmulator/v16/Browse.VC.db-shm
CGT_NesEmulator/.vs/CGT_NesEmulator/v16/Browse.VC.db
CGT_NesEmulator/.editorconfig
*.enc
*.recipe
*.iobj
*.ipdb
*.lastbuildstate
*.tlog
*.ipch
*.nes
binds.cfg
ConsoleDefs.txt
applog.txt
CGT_NesEmulator/CGT NES Emulator/Debug/vc142.idb
CGT_NesEmulator/SDL2
/src/imgui
/src/implot
CGT_NesEmulator/CGT NES Emulator/Release/CGT NES Emulator.vcxproj.FileListAbsolute.txt
CGT_NesEmulator/CGT NES Emulator/Debug/nesEmResourse.res
CGT_NesEmulator/CGT NES Emulator/Release/nesEmResourse.res
reset binds.bat
imgui.ini
.vs/slnx.sqlite
.vscode/c_cpp_properties.json
.vscode/settings.json
CGT_NesEmulator/.vs/CGT_NesEmulator/FileContentIndex/read.lock
*.obj
*.pch
*.log
CGT_NesEmulator/CGT NES Emulator/Win32/Debug/nesEmResourse.res
*.idb
*.pdb
*.db
*.db-shm
*.db-wal
*.opendb
*.ilk
CGT_NesEmulator/CGT NES Emulator/Win32/Debug/CGT NES Emulator.vcxproj.FileListAbsolute.txt
CGT_NesEmulator/Release/CGT NES Emulator.exe
CGT_NesEmulator/Release/SDL2.dll
CGT_NesEmulator/Win32/Debug/CGT NES Emulator.exe
CGT_NesEmulator/Win32/Debug/SDL2.dll
*.vsidx
CGT_NesEmulator/.vs/CGT_NesEmulator/v17/.suo
.vs/VSWorkspaceState.json
